<?xml version="1.0" encoding="UTF-8"?>
<Installer>
<Name>Fraktalgenerator</Name>
    <Version>3.9.7</Version>
    <Title><Name>Fraktalgenerator</Name> Installer</Title>
    <InstallerApplicationIcon>installerIcon1</InstallerApplicationIcon>
    <InstallerWindowIcon>installerIcon2</InstallerWindowIcon>
      <Publisher>Markus</Publisher>
        <StartMenuDir>Fraktalgenerator</StartMenuDir>
        <TargetDir>@ApplicationsDir@/Fraktalgenerator/</TargetDir>
        <WizardDefaultWidth>800</WizardDefaultWidth>
        <WizardDefaultHeight>500</WizardDefaultHeight>
        <MaintenanceToolName>FraktalgeneratorMaintenanceTool</MaintenanceToolName>
        <RemoteRepositories>
            <Repository>
                <Url>https://raw.githubusercontent.com/M4RKUS28/Fraktalgenerator/main/installer/repository</Url>
                <Enabled>1</Enabled>
                <DisplayName>Main-Repo</DisplayName>
            </Repository>
        </RemoteRepositories>
</Installer>
